<header>
    <nav class="site-nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a class="nav-link" href="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="playlist-management/">Playlist Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="shuffler-management/">Shuffler Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="playback/">Playback</a>
            </li>
        </ul>
    </nav>
</header>